<div class="wrapper">


<div class="toolbar1 seating-plan-toolbar">
  <div class="card-info-toolbar">
      <div class="weds-ref">Wedding of:</div>
      <div class="card-title-weds">
        <em><%= @seating_plan.user.bride_first_name %></em>
        and
        <em><%= current_user.groom_first_name %></em>
      </div>

      <div class="row weds-dispo">
        <%=image_tag("Flat 03 V2.png", :size=> "150x150", class: "bobby") %>
        <%=image_tag("marieF v2.png", :size=> "150x150", class: "mariee")%>
      </div>
      <div class="separteur3 text-centered"><%=image_tag("a315ba465d59cdd28b479191aef7c070.png", :width=> "280")%></div>
      <div class="weds-ref">My wedding details :</div>
      <div class= weds-address>
        <%= simple_form_for @seating_plan do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, required: true, placeholder: "Wedding Name", label: false %>
          <%= f.input :address, required: true, placeholder: "Address", label: false %>
            <%= f.input :wedding_date, required: true, label: false %>
          <%= f.button :submit, class: "btn-success" %>
         <% end %>
      </div seating-plan-map>
 <div id="map" class="map hidden-xs" style="width: 100%" data-markers="<%= @marker.to_json %>"></div>
    </div>
  </div>


<div class="seating-plan-show">
  <div class="congrats">
    <h2>Congratulations</h2>

  </div>

  <div>
    <div class="container">




      <div class="row card-description2">


        <div class="col-xs-12 col-sm-9 ">
          <div class="card-print">
          <div class="card-info">

            <div class="card-content"><%= image_tag("chaise.png")%>
            <div class="print">
              <div class="card-title">Print your Seating plan in PDF</div>
              <div class="btn-congrats-print"><%= link_to 'I DO', seating_plan_export_path(@seating_plan, :format => :pdf) %></div>
            </div>
            </div>
          </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card-print">
          <div class="card-info-print">

            <div class="card-title-print">Export my guests list to excel</div>
            <div class="btn-congrats-print large">
              <%= link_to "Excel", seating_plan_path(format: "xls") %></div>
            </div>

          </div>
          </div>
        </div>
      </div>

      <div class= "row card-description1"">
        <div class="card-print">
            <div class="card-title-cadre">Preview of your table decoration</div>
        </div>

        <div class="row card-description1">
          <div class= "row deco-info">
            <div class="col-xs-12 col-sm-4 w-33" >Seating plan card</div>
            <div class="col-xs-12 col-sm-4 w-33">Menu</div>
            <div class="col-xs-12 col-sm-4 w-33">Table place card</div>
          </div>
          <div class="col-xs-12 col-sm-4 ">
            <div class="card">
            <div class="card-info">
              <div class="card-title">
                    <%= @seating_plan.tables.first.name.capitalize %>
              </div>
              <div class="card-content">
                <ul class="list-unstyled">
                  <%# @seating_plan.participants.each do |participant| %>
                    <li><%#= participant.name %></li>
                  <% #end %>
                  <li>Antoine Lefrvre</li>
                  <li>Monique Champard</li>
                  <li>Camomille Franchin</li>
                  <li>Marielle Renard</li>
                  <li>Henri Renard</li>
                  <li>Catherine Legrand</li>
                  <li>Renaud Gendran</li>
                  <li>Lousie Andre</li>
                </ul>
              </div>
            </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 ">
            <div class="card">
            <div class="card-info">
              <div class="card-title">MENU</div>
              <div class="card-content-menu">
                <ul class="list-unstyled menu">
                  <li>Crisp Romaine, Poached Pears, Toasted Hazelnuts, Dried Cranberries, Crumbled Blue Cheese Dressing</li>
                  <li><%= image_tag("separateur2.png", id:"separe" )%></li>
                  <li>Grilled Pork Tenderloin, Caramelized Peppers, Roasted Brussells Sprouts, Farmhouse Mashed Potatoes</li>
                  <li><%= image_tag("separateur2.png", id:"separe" )%></li>
                  <li>Veronica’s Sweet Cakes</li>
                  <li><%= image_tag("separateur2.png", id:"separe" )%></li>
                  <li>Coffee and Assorted Teas</li>
                </ul>
              </div>
            </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 ">
            <div class= card-org>
              <div class="card-name">
                <div class="card-info">
                  <div class="card-title"><%= @seating_plan.participants.first.decoration_name %></div>
                </div>
              </div>
              <div class="btn-congrats-print">PRINT</div>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>

</div>
