<div class="wrapper">


<div class="toolbar1 seating-plan-toolbar">
  <div class="card-info-toolbar">
      <div class="weds-ref">Wedding of:</div>
      <div class="card-title-weds"><em>Peter </em>and<em> Wendy</em></div>
      <div ></div>
      <div class="row weds-dispo">>
        <%=image_tag("Flat 03 V2.png", :size=> "150x150") %>
        <%=image_tag("marieF v2.png", :size=> "150x150")%>
      </div>
      <div class="separteur3 text-centered"><%=image_tag("a315ba465d59cdd28b479191aef7c070.png", :width=> "280")%></div>
      <div class="weds-ref">My wedding details :</div>

  <%= simple_form_for @seating_plan do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, required: true, placeholder: "Wedding Name", label: false %>
    <%= f.input :address, required: true, placeholder: "Address", label: false %>
      <%= f.input :wedding_date, required: true, label: false %>
    <%= f.button :submit, class: "btn-success" %>
   <% end %>

 <div id="map" class="map hidden-xs" style="width: 100%" data-markers="<%= @marker.to_json %>"></div>
    </div>
  </div>


<div class="seating-plan-show">
  <div class="congrats">
    <h2>Congratulations</h2>

  </div>

  <div>
    <div class="container">




      <div class="row card-description2">


        <div class="col-xs-12 col-sm-9 ">
          <div class="card-print">
          <div class="card-info">

            <div class="card-content"><%= image_tag("chaise.png")%>
            <div class="print">
              <div class="card-title">Print your Seating plan in PDF</div>
              <div class="btn-congrats-print"><%= link_to 'I DO', seating_plan_export_path(@seating_plan, :format => :pdf) %></div>
            </div>
            </div>
          </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card-print">
          <div class="card-info-print">
            <div class="card-title-print">Export my guests list to CSV</div>
            <div class="btn-congrats-print large">I DO</div>
          </div>
          </div>
        </div>
      </div>

      <div class= "row card-description1"">
        <div class="card-print">
            <div class="card-title-cadre">Order your decoration</div>
        </div>

        <div class="row card-description1">
          <div class="col-xs-12 col-sm-4 ">
            <div class="card">
            <div class="card-info">
              <div class="card-title">Table n.5</div>
              <div class="card-content">
                <ul class="list-unstyled">
                  <li>Freddie MERCURY</li>
                  <li>Pamela ANDERSON</li>
                  <li>Elton JOHN</li>
                  <li>Nina HAGEN</li>
                  <li>Johnny WALKER</li>
                  <li>Soeur SOURIRE</li>
                  <li>Clara MORGANE</li>
                  <li>James BOND</li>
                </ul>
              </div>
            </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 ">
            <div class="card">
            <div class="card-info">
              <div class="card-title">MENU</div>
              <div class="card-content-menu">
                <ul class="list-unstyled menu">
                  <li>Foie gras & lentilles vertes du Puy, gelée au Porto, financier noisette & mesclun</li>
                  <li><%= image_tag("separateur2.png", id:"separe" )%></li>
                  <li>Carré d’agneau en croûte d’herbes, Risotto d’épeautre au citron en ramequin & fleur de courgette farcie</li>
                  <li><%= image_tag("separateur2.png", id:"separe" )%></li>
                  <li></li>
                  <li>Ardoise de fromages affinés de nos régions</li>
                  <li><%= image_tag("separateur2.png", id:"separe" )%></li>
                  <li>Gâteau des mariés à étages</li>
                </ul>
              </div>
            </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 ">
            <div class= card-org>
              <div class="card">
                <div class="card-info">
                  <div class="card-title">Freddie MERCURY</div>
                </div>
              </div>
              <div class="btn-congrats-print large">I DO</div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

</div>
