<div class="banner" style="background-image: linear-gradient(-225deg, rgba(80,80,80,0.6) 0%, rgba(55,55,55,0.4) 50%), url('<%= image_path "banner.png" %>');">
  <div class="banner-content">
    <h1>HAPPY SEAT</h1>
    <p>Everyone can have the best seat</p>
    <%= simple_form_for @seating_plan do |f| %>
    <div class="form-home">
        <%= f.input :nb_participants, label: false, placeholder:"Nombre total d'invités" %>
        <%= f.input :nb_tables, label: false, placeholder:"Nombre total de tables"  %>
        <%= f.input :nb_max_participants, label: false, placeholder:"Nombre d'invités par table" %>
    </div>
    <%= f.button :submit, class: "green-btn" %>
    <% end %>
  </div>
</div>
<div class="container">
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.

    LorLorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.em ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.

    LorLorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.em ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.

    LorLorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.em ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.

    LorLorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.em ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi, dolor provident id, asperiores blanditiis dicta voluptates, accusamus minus optio minima laudantium unde iure itaque quod necessitatibus magnam omnis expedita.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum harum nam laborum explicabo tenetur vitae reiciendis eveniet, ipsum impedit provident animi dicta assumenda iure doloribus quam sit, aliquid fugit rem.

  </p>
</div>





