<div class="toolbar-form">
  <h5>Participants details</h5>
  <div class="toolbar-form-one-participant">
  <%= simple_form_for participant do |f| %>
    <%= f.error_notification %>
    <%= f.input :first_name, required: true, placeholder: "First Name", label: false %>
    <%= f.input :last_name, required: true, placeholder: "Last Name", label: false %>
    <div class="nested-prompt">
      <%= f.input :age_range, collection: Participant.age_ranges.keys, prompt: "Age", required: true, label: false, class: "prompt-size nested-prompt-age" %>
      <%= f.input :family_type, collection: Participant.family_types.keys, prompt: "Family Link", required: true, label: false %>
    </div>
    <%= f.button :submit, class: "btn-success" %>
   <% end %>
  </div>
</div>
