<div class="wrapper-tables">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <div class="table-section">
          <h3>Guests Drop Zone</h3>
            <div class="table-drop-zone" id="drop-zone">
              <% @seating_plan.participants.where(seat: nil).each do |participant| %>
                <div class="avatar-participant <%= avatar_colored(participant.seat) %>" data-path="<%= seating_plan_participant_swap_url(@seating_plan, participant) %>" >
                  <p><%= participant.initial %></p>
                  <div class= "<%= avatar_family(participant.seat) %>" ></div>
                </div>
              <% end %>
             </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% @tables.each_with_index do |table, index| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="table-section" >

              <div class="table-card-name text-left">
                <div class="name"><h3><%= table.name %></h3></div>
                <div class="pencil">

                  <%= link_to seating_plan_table_path(@seating_plan, table), method: :patch do %>
                  <a role="button" data-toggle="collapse" href='#collapseExample-<%= "#{index}" %>' aria-expanded="false" aria-controls="collapseExample">
                  <i class="fas fa-pencil-alt"></i></a>
                  <div class="collapse" id='collapseExample-<%= "#{index}" %>'>
                    <div class="table-name-form">
                      <%= simple_form_for [@seating_plan, table] do |f| %>
                      <%= f.error_notification %>
                      <%= f.input :name, required: true, placeholder: "Table name", label: false %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>


              <div class="table-card">
                <div class="avatar-frame" id='table-top-<%= "#{index}" %>'>

                    <% @super_tables[index][0...(@super_tables[index].size / 2)].each do |seat| %>
                        <div class="avatar" id="avatar-<%= seat[:seat_id] %>">
                          <% if @seating_plan.participants.find_by(seat: seat[:seat_id]).present? %>
                            <div class="avatar-participant <%= avatar_colored(seat[:seat_id]) %> " data-path="<%= seating_plan_participant_swap_url(@seating_plan, @seating_plan.participants.find_by(seat: seat[:seat_id]))%>">
                              <p> <%= @seating_plan.participants.find_by(seat: seat[:seat_id]).initial %></p>
                              <div class= "<%= avatar_family(seat[:seat_id]) %>" ></div>
                            </div>
                          <% end %>


                        </div>
                    <% end %>
                </div>

                <div class="table-frame">
                  <div class="table-frame-nappe" style="background-image: url('<%= image_path "image 2.png" %>');"></div>
                </div>

                <div class="avatar-frame" id='table-bottom-<%= "#{index}" %>'>
                    <% @super_tables[index][(@super_tables[index].size / 2)..-1].each do |seat| %>
                        <div class="avatar" id="avatar-<%= seat[:seat_id] %>">

                          <% if @seating_plan.participants.find_by(seat: seat[:seat_id]).present? %>
                            <div class="avatar-participant <%= avatar_colored(seat[:seat_id]) %>" data-path="<%= seating_plan_participant_swap_url(@seating_plan, @seating_plan.participants.find_by(seat: seat[:seat_id]))%>">
                              <p><%= @seating_plan.participants.find_by(seat: seat[:seat_id]).initial %></p>
                              <div class= "<%= avatar_family(seat[:seat_id]) %>" ></div>
                            </div>
                          <% end %>
                        </div>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

