<div class="wrapper">
  <!-- Toolbar -->

  <div class="toolbar">

    <div class="toolbar-name text-center">
      <h5>Add a Participant</h5>
      <%=  link_to "#", class: "btn btn-happy-grey active-couple"  do %>
        Or a couple <i class="fas fa-venus-mars"></i>
      <% end %>

      <%=  link_to "#", class: "btn btn-happy-grey active-couple hidden-couple"  do %>
        Or a participant <i class="fas fa-venus"></i>
      <% end %>
    </div>

    <div class="toolbar-form">
      <div class="toolbar-form-one-participant" id="form-recuperate">
        <%= simple_form_for [@seating_plan, @participant] do |f| %>
        <%= f.error_notification %>
        <%= f.input :first_name, required: true, placeholder: "First Name", label: false %>
        <%= f.input :last_name, required: true, placeholder: "Last Name", label: false %>
        <div class="nested-prompt">
          <%= f.input :age_range, collection: Participant.age_ranges.keys, prompt: "Age", required: true, label: false, class: "prompt-size nested-prompt-age" %>
          <%= f.input :family_type, collection: Participant.family_types.keys, prompt: "Family Link", required: true, label: false %>
        </div>
        <%= f.button :submit, class: "btn-success" %>
       <% end %>
      </div>

      <div class="toolbar-form-couple hidden-couple">
        <%= simple_form_for [@seating_plan, @relationship] do |t| %>
        <%= t.error_notification %>
        <%= t.input :link, input_html: {value: "couple"}, as: :hidden %>

        <div id="first_guest">
          <%= t.simple_fields_for :first_guest, @first_guest do |x| %>
            <!-- Task: <%#= task.text_field :name %> -->
            <div class="nested-fields">
              <h6>First Guest</h6>
              <%= x.input :first_name, required: true, placeholder: "First Name", label: false  %>
              <%= x.input :last_name, required: true, placeholder: "Last Name", label: false  %>
              <div class="nested-prompt">
                <%= x.input :age_range, collection: Participant.age_ranges.keys, prompt: "Age", required: true, label: false, class: "prompt-size nested-prompt-age" %>
                <%= x.input :family_type, collection: Participant.family_types.keys, prompt: "Family Link", required: true , label: false%>
              </div>
            </div>
          <% end %>
        </div>
        <hr>
        <div id="second_guest">
          <%= t.simple_fields_for :second_guest, @second_guest do |y| %>
            <div class="nested-fields">
              <h6>Second Guest</h6>
              <%= y.input :first_name, required: true, placeholder: "First Name" , label: false %>
              <%= y.input :last_name, required: true, placeholder: "Last Name", label: false  %>
              <div class="nested-prompt">
                <%= y.input :age_range, collection: Participant.age_ranges.keys, prompt: "Age", required: true, label: false, class: "prompt-size nested-prompt-age" %>
                <%= y.input :family_type, collection: Participant.family_types.keys, prompt: "Family Link", required: true, label: false %>
              </div>
            </div>
          <% end %>
        </div>

        <%= t.button :submit, class: "btn-success"%>
        <% end %>
      </div>
    </div>

    <div class="toolbar-buttons">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-happy-grey btn-size" data-toggle="modal" data-target="#exampleModalRelationship">
        Add a Bad Relationship
      </button>


      <%= link_to "Finalize", seating_plan_path(@seating_plan), class: "btn btn-happy-grey btn-size" %>

    </div>
  </div>


  <!-- Modal -->
  <%= render "modalRelationship" %>
  <%= render "modalParticipant" %>
  <%= render "tablesDisplay" %>

</div>
<!-- Footer -->
