<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Seat - Everyone can have the best seat</title>
    <meta name="description" content="Happyseat generates the best seating-plan for you and your guests for your wedding in an automactiv and interactive way.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Happy Seat, Place your guests at your wedding">
    <meta property="og:description" content="Happyseat generates the best seating-plan for you and your guests for your wedding in an automactiv and interactive way.">
    <meta property="og:url" content="http://www.happyseat.fr">
    <meta property="og:image" content="https://res.cloudinary.com/didys4vkv/image/upload/c_scale,h_630,w_1200/v1520352987/happyseat.png">
    <link href="assets/images/chaise.png" rel="icon" type="image/png" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,400i,800" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
